@font-face {
    font-family: 'pblack';
    src: url('../vendor/Proxima/ProximaNova-Black.otf');
}

@font-face {
    font-family: 'pbold';
    src: url('../vendor/Proxima/ProximaNova-Bold.otf');
}

@font-face {
    font-family: 'plight';
    src: url('../vendor/Proxima/ProximaNova-Light.otf');
}

@font-face {
    font-family: 'plightit';
    src: url('../vendor/Proxima/ProximaNova-LightIt.otf');
}

@font-face {
    font-family: 'pregular';
    src: url('../vendor/Proxima/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'pregularit';
    src: url('../vendor/Proxima/ProximaNova-RegularIt.otf');
}

@font-face {
    font-family: 'psemibold';
    src: url('../vendor/Proxima/ProximaNova-Semibold.otf');
}

@font-face {
    font-family: 'pthin';
    src: url('../vendor/Proxima/ProximaNova-Thin.otf');
}

@font-face {
    font-family: 'pthinit';
    src: url('../vendor/Proxima/ProximaNova-ThinIt.otf');
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'pregular';
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #23b575;
}

a:hover,
a:focus {
    color: #35495e;
}

h1 {
    font: 'psemibold';
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font: 'pblack';
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font: 'pbold';
}

h2,
h3,
h5,
h6 {
    font-family: 'pregular';
}

p {
    font-family: 'plight';
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-pic {
    background-image: url('../img/Asset-06.png');
    height: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-primary {
    background-color: white;
    padding-top: 0px;
}

.bg-search {
    font-size: 20px;
    background-color: white;
    padding-bottom: 0px;
    padding-top: 70px;
    padding-left: 0px;
}

.text-faded {
    color: #767676;
}

.text-white {
    color: white;
}

.text-red {
    color: #fb4d3d;
}

.text-blue {
    color: #345995;
}

.text-bold {
    font-family: 'pbold';
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.lr-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.r-padding-4 {
    padding-right: 4px;
}

.l-padding-40 {
    padding-right: 40px;
}

.b-padding-10 {
    padding-bottom: 10px;
}

.navbar-default {
    background-color: #fb4d3d;
    border: none;
    font-family: 'plight', 'Proxima Nova', Arial;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    font-size: 18px;
}

.navbar-default .navbar-header .navbar-brand {
    color: white;
    font-family: 'plight', 'Proxima Nova', Arial;
    font-size: 18px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-header .navbar-toggle {
    font-size: 18px;
    color: white;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    color: white;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: white;
    font: 'plight'
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: white;
    background-color: #fb4d3d;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: #fb4d3d;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: #F93422;
        border: none;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: white;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: white;
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default.affix {
        background-color: #fb4d3d;
        border: none;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: white;
        font-size: 32px;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: white;
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: white;
    }
    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgba(255, 255, 255, 0.7);
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-color: #F93422;
    text-align: center;
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header .header-content {
    position: relative;
    text-align: left;
    padding: 100px 15px 100px;
    width: 100%;
}

header .header-content .header-content-inner p {
    margin-top: 0;
    margin-bottom: 10;
    font-size: 28px;
}

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner p {
        font-size: 46px;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-heading {
    margin-top: 0;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 28px;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn {
    font: 'pbold';
    font-size: 24px;
    letter-spacing: 1px;
}

.button-white {
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: white;
    color: #fb4d3d;
}

.button-red {
    background-color: #F93422;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    color: #ffffff;
}

.button-white:hover,
.button-red:hover {
    background-color: #fb4d3d;
    border-color: white;
    color: white;
}

.transparent-back {
    background-color: transparent;
}

input:focus {
    box-shadow: 0 0 5px #2176AE;
    border: 1px solid #2176AE;
    color: #345995;
}

input {
    color: #345995;
    border: 1px solid #345995;
    border-radius: 18px;
    width: 40%;
}

.spacing {
    height: 50px;
}

.spacing-10 {
    height: 10px;
}

footer {
    background-color: #35495e;
    color: white;
    font-size: 16px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-green {
    color: #23B575;
}

.highlight {
    font-size: 42px;
    color: white;
    text-align: left;
}

.a-white {
    color: white;
}

.a-white:hover {
    color: white;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
    padding-bottom: 30px;
    text-align: center;
}

.dtp-btn-cancel {
    letter-spacing: 0px;
    font-size: 18px;
    border-radius: 0px;
}

.dtp-btn-ok {
    letter-spacing: 0px;
    font-size: 18px;
    background-color: #C2F970;
    border-radius: 0px;
}

.form-control {
    width: auto;
}

.modal-dialog {
    width: auto;
    max-width: 960px;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

#map {
    width: 100%;
    height: 500px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}